body {
	&.admin-bar {
		.header {
			top: 46px;

			@media screen and (min-width: 783px) {
				top: 32px;
			}
		}

		.main-navigation {
			top: 46px;
			height: calc(100% - 46px);

			@media screen and (min-width: 783px) {
				top: 32px;
				height: calc(100% - 32px);
			}
		}
	}
}

.header {
	position: sticky;
	width: 100%;
	left: 0;
	top: 0;
	padding: 10px 0;
	background: var(--primary);
	z-index: 9999;

	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__branding {
		.custom-logo-link {
			display: block;

			img {
				display: block;
				max-height: 70px;
				width: auto;
			}
		}
	}
}

.main-navigation {
	@include breakpoint-down(md) {
		position: fixed;
		z-index: 9999;
		width: 300px;
		top: 0;
		right: 0;
		height: 100%;
		background: #333;
		padding: 60px 30px 30px;
	}

	ul {
		@extend %reset-list;
	}

	.menu {
		@include breakpoint(md) {
			display: flex;
		}

		li {
			display: block;
			position: relative;

			a {
				color: var(--white);
				text-decoration: none;
				display: block;
				padding: 10px 0;

				@include breakpoint(md) {
					color: var(--text-body);
					padding: 10px 20px;
				}
			}

			.sub-menu {
				padding-left: 25px;

				@include breakpoint(md) {
					position: absolute;
					width: 200px;
					background: var(--white);
					top: 20px;
					left: 100%;
					z-index: 99;
					box-shadow: 1px 1px 3px 0 #ddd;
					opacity: 0;
					visibility: hidden;
					transition: all 0.3s;
					padding: 0;
				}
			}

			&:hover {
				> .sub-menu {
					top: 0;
					opacity: 1;
					visibility: visible;
				}
			}

			&.menu-item-has-children {
				> a {
					position: relative;

					@include breakpoint(md) {
						padding-right: 35px;
					}

					&::after {
						@include breakpoint(md) {
							content: "\f054";
							font-family: $awesome-font;
							font-weight: 900;
							position: absolute;
							right: 15px;
							top: 14px;
							font-size: 12px;
						}
					}
				}
			}

			&.current-menu-parent,
			&.current-menu-item,
			&:hover {
				> a {
					color: var(--second);
				}
			}
		}

		> li {
			+ li {
				@include breakpoint(md) {
					margin-left: 20px;
				}
			}

			> a {
				color: var(--white);

				@include breakpoint(md) {
					padding: 0;
				}
			}

			> .sub-menu {
				top: calc(100% + 20px);
				left: 0;
			}

			&.menu-item-has-children {
				> a {
					@include breakpoint(md) {
						padding-right: 18px;
					}

					&::after {
						@include breakpoint(md) {
							content: "\f078";
							top: 3px;
							right: 0;
						}
					}
				}
			}

			&:hover {
				> .sub-menu {
					top: 100%;
				}
			}
		}
	}
}